**Importing Necessary libraries**

In [0]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

**Reading the data**

In [0]:
ad=pd.read_csv("/content/agri_ds.csv")

In [4]:
ad.shape

(184, 8)

In [5]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season       184 non-null    int64
 1   pH value     184 non-null    float64
 2   temperature  184 non-null    int64
 3   humidity     184 non-null    int64
 4   rainfall     184 non-null    float64
 5   yield        184 non-null    float64
 6   water        184 non-null    int64
 7   crop         184 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 11.6+ KB

In [6]:
ad.describe()

           season    pH value  ...         yield      water
count  184.000000  184.000000  ...    184.000000  184.000000
mean     0.179348    6.442935  ...    567.161304   57.347826
std      0.450146    0.773576  ...   2814.418467   14.953798
min      0.000000    4.500000  ...      0.180000   25.000000
25%      0.000000    5.900000  ...      0.607500   50.000000
50%      0.000000    6.400000  ...      1.655000   60.000000
75%      0.000000    6.900000  ...      5.322500   70.000000
max      2.000000    8.500000  ...  15575.230000   85.000000

[8 rows x 7 columns]

In [7]:
ad.head()

   season  pH value  temperature  humidity  rainfall  yield  water   crop
0       1       5.5           26        36     143.0   3.99      80  Rice
1       1       5.7           29        37      99.0   4.26      80  Rice
2       1       5.9           22        38     110.0   4.64      80  Rice
3       1       6.0           27        39     107.0   3.61      80  Rice
4       1       6.2           20        40     137.0   4.65      80  Rice

**Defining dependent and independent variables of model**

In [0]:
y = ad['crop'].values   #dependent
X = ad.drop('crop', axis=1).values   #independent

**Creating Model using KNN and fitting the model**

In [0]:
knn = KNeighborsClassifier(n_neighbors=6)

In [10]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                     weights='uniform')

**Model Accuracy**

In [11]:
y_pred = knn.predict(X)
print("Prediction : {}".format(y_pred))

Prediction : ['Rice' 'Ragi' 'Ragi' 'Ragi' 'Rice' 'Rice' 'Rice' 'Jowar' 'Maize' 'Maize'
 'Groundnut' 'Jowar' 'Groundnut' 'Maize' 'Jowar' 'Jowar' 'Jowar' 'Jowar'
 'Jowar' 'Jowar' 'Jowar' 'Bajra' 'Bajra' 'Bajra' 'Bajra' 'Bajra' 'Bajra'
 'Bajra' 'Ragi' 'Ragi' 'Greengram' 'Greengram' 'Ragi' 'Ragi' 'Ragi'
 'Arhar' 'Arhar' 'Arhar' 'Arhar' 'Arhar' 'Arhar' 'Arhar' 'Sugarcane'
 'Sugarcane' 'Sugarcane' 'Sugarcane' 'Sugarcane' 'Sugarcane' 'Sugarcane'
 'Maize' 'Groundnut' 'Groundnut' 'Groundnut' 'Groundnut' 'Groundnut'
 'Groundnut' 'Sesame' 'Sesame' 'Sesame' 'Sesame' 'Sesame' 'Sesame'
 'Sesame' 'Cotton' 'Cotton' 'Cotton' 'Cotton' 'Cotton' 'Cotton' 'Cotton'
 'Gram' 'Castorseed' 'Castorseed' 'Groundnut' 'Cashewnut' 'Smallmillets'
 'Smallmillets' 'Banana' 'Banana' 'Banana' 'Banana' 'Banana' 'Banana'
 'Banana' 'Cashewnut' 'Sugarcane' 'Cashewnut' 'Cashewnut' 'Cashewnut'
 'Cashewnut' 'Cashewnut' 'Castorseed' 'Castorseed' 'Castorseed'
 'Castorseed' 'Castorseed' 'Castorseed' 'Castorseed' 'Cashewnut'
 'Coriander' 'Coriander' 'Coriander' 'Cashewnut' 'Coriander' 'Coriander'
 'Coconut' 'Coconut' 'Coconut' 'Coconut' 'Coconut' 'Coconut' 'Coconut'
 'Castorseed' 'Castorseed' 'Chilly' 'Chilly' 'Chilly' 'Chilly' 'Cotton'
 'Gram' 'Cotton' 'Gram' 'Gram' 'Gram' 'Gram' 'Gram' 'Horsegram' 'Gram'
 'Onion' 'Horsegram' 'Horsegram' 'Horsegram' 'Castorseed' 'Greengram'
 'Greengram' 'Greengram' 'Greengram' 'Greengram' 'Greengram' 'Greengram'
 'Jowar' 'Greengram' 'Onion' 'Onion' 'Onion' 'Onion' 'Onion' 'Onion'
 'Onion' 'Smallmillets' 'Smallmillets' 'Smallmillets' 'Smallmillets'
 'Horsegram' 'Smallmillets' 'Smallmillets' 'Smallmillets' 'Sweet potato'
 'Sweet potato' 'Sweet potato' 'Sweet potato' 'Sweet potato'
 'Sweet potato' 'Ragi' 'Tapioca' 'Tapioca' 'Tapioca' 'Tapioca' 'Tapioca'
 'Tapioca' 'Turmeric' 'Smallmillets' 'Turmeric' 'Sweet potato' 'Cashewnut'
 'Cashewnut' 'Turmeric' 'Sesame' 'Urad' 'Sesame' 'Sesame' 'Ragi' 'Urad'
 'Sesame']

In [12]:
from sklearn import metrics
print("Model Accuracy:",metrics.accuracy_score(y, y_pred)*100)

Model Accuracy: 77.71739130434783

**Mannually testing the model**

In [0]:
x_new = ['1','5.9','29','38','110','4.68','80']

In [14]:
new_pred = knn.predict([x_new])

/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_classification.py:171: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')
/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_base.py:605: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')

In [15]:
print("Prediction : {}".format(new_pred))

Prediction : ['Ragi']

In [0]:
x_new = ['2','6.5','30','35','90','2.73','70']

In [17]:
new_pred = knn.predict([x_new])

/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_classification.py:171: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')
/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_base.py:605: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')

In [19]:
print("Prediction : {}".format(new_pred))

Prediction : ['Ragi']

In [0]:
x_new = ['0','6.1','20','35','80','4.73','70']

In [22]:
new_pred = knn.predict([x_new])

/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_classification.py:171: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')
/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_base.py:605: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')

In [23]:
print("Prediction : {}".format(new_pred))

Prediction : ['Maize']

In [0]:
x=["0","5.0","21","90","75.00",'12.10','70']

In [25]:
new_pred = knn.predict([x_new])

/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_classification.py:171: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')
/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_base.py:605: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')

In [26]:
print("Prediction : {}".format(new_pred))

Prediction : ['Maize']